@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --header-height: 3.5rem;


    /* tipo font */
    --body-font: "Roboto Slab", serif;
    --biggerst-font-size: 6rem;
    --h3-font-size: 1rem;
    --normal-font-size: .930rem;
    --small-font-size: .813rem;

    /* font weight */

    --font-regular: 400;
    --font-semi-bold: 600;


}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: url(../img/roxo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 100%, 100%);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(138deg, rgba(19, 0, 36, 1) 0%, rgba(96, 0, 130, 1) 35%, rgba(152, 0, 164, 1) 55%, rgba(174, 36, 214, 1) 77%, rgba(199, 19, 234, 1) 88%, rgba(135, 0, 152, 1) 100%); */
    background: transparent;
    display: grid;
    row-gap: 1.5rem;
    z-index: 100;
    transition: background-color .3s, box-shadow .3s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-weight: var(--font-regular);
}

.logo {
    width: 10%;
}

.search__container {
    display: none;
}

.nav__close,
.nav__toggle,
.nav__actions {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__actions {
    column-gap: .5rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: #ffffff;
    font-weight: var(--font-semi-bold);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}


@media screen and (max-width:1149px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;

        background: linear-gradient(180deg, rgba(19, 0, 36, 1) 0%, rgba(56, 0, 80, 1) 21%, rgba(90, 0, 122, 0.9) 36%, rgba(96, 0, 130, 0.8) 48%, rgba(152, 0, 164, 0.7) 64%, rgba(174, 36, 214, 0.5) 77%, rgba(199, 19, 234, 0.4) 88%, rgba(135, 0, 152, 0.3) 100%);
        width: 60%;
        height: 100%;
        box-shadow: -2px 0 12px hsla(0, 0%, 0%);
        padding: 6rem 3rem 0;
        transition: right .6s;
    }

    
}

.show-menu {
    right: 0;
}

/* Homme Style */

.home__container {
    height: 100vh;
    padding-block: 9rem 2rem;
    display: grid;
    align-items: center;
    row-gap: 6rem;
}

.home__content {
    position: relative;
    display: grid;
}

.home__img {
    width: 400px;
    margin: 0 auto 2rem;
    filter: drop-shadow(-8px 8px 16px hsla(0, 0%, 0%, 0.521));
}

.home__article {
    position: relative;
    height: 280px;
}

.home__info {
    position: absolute;
    bottom: 5%;
    left: 8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 14px;
    width: 300px;
}

.home__product {
    font-size: var(--h3-font-size);
}

.btn-find-out-more {
    background-color: hsla(300, 100%, 25%, 0.924);
    color: #ffffff;
    width: 100px;
    height: 30px;
    border: 3px solid #ffffff;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);

}

.btn-find-out-more:hover {
    background: #ffffff;
    color: hsla(300, 100%, 25%, 0.924);
    border: 3px solid hsla(300, 100%, 25%, 0.924);
    transform: scale(1.1);
}

.home__description {
    font-size: 8px;
    width: 100%;
    text-align: justify;
    font-size: var(--small-font-size);
    background-color: hsla(0, 0%, 0%, 0.357);
}

.info__games {
    width: 100%;
}

.content__games {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 30px;
    

}

#tittle-dynamic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Protest Strike", sans-serif;
    margin-bottom: 40px;
    font-size: 30px;
}

#tittle-dynamic::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.bg-header {
    background-color: rgba(0, 0, 0, 0.752);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.content__infogame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
   
}

.content__img {
    width: 200px;
}

@media screen and (min-width: 1149px) {

    .logo {
        width: 60px;
        height: 60px;
    }

    .container {
        max-width: 100%;
    }

    .nav__close,
    .nav__actions {
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
    }

    .search__container {
        display: flex;
        cursor: pointer;
    }

    .search {
        width: 222px;
        height: 30px;
        border: 2px solid rgb(255 0 243);
        outline: none;
        caret-color: rgb(243 0 255);
        border-radius: 30px;
        padding-left: 15px;
        letter-spacing: 0.8px;
        color: rgb(19, 19, 19);
        font-size: 13.4px;
    }


    /* Main */

    .home__article,
    .home__content {
        height: 100%;
    }

    .home__info {
        bottom: 24%;
        left: 28%;
        width: 500px;
    }

    .home__img {
        height: 414px;
        width: 700px;
    }

    .btn-find-out-more {
        width: 148px;
        height: 38px;
        font-size: var(--normal-font-size);
    }

    

}