@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --header-height: 3.5rem;


    /* tipo font */
    --body-font: "Roboto Slab", serif;
    --biggerst-font-size: 6rem;
    --h3-font-size: 1rem;
    --normal-font-size: .930rem;
    --small-font-size: .813rem;

    /* font weight */

    --font-regular: 400;
    --font-semi-bold: 600;


}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background-color: rgb(47, 44, 44); */
    background: linear-gradient(138deg, rgba(19, 0, 36, 1) 0%, rgba(96, 0, 130, 1) 35%, rgba(152, 0, 164, 1) 55%, rgba(174, 36, 214, 1) 77%, rgba(199, 19, 234, 1) 88%, rgba(135, 0, 152, 1) 100%);
    color: hsl(0, 100%, 100%);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(138deg, rgba(19, 0, 36, 1) 0%, rgba(96, 0, 130, 1) 35%, rgba(152, 0, 164, 1) 55%, rgba(174, 36, 214, 1) 77%, rgba(199, 19, 234, 1) 88%, rgba(135, 0, 152, 1) 100%);
    z-index: 100;
    transition: background-color .3s, box-shadow .3s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__log{
    display: flex;
    align-items: center;
} */

.nav__logo {
    font-weight: var(--font-semi-bold);
}

.logo {
    width: 10%;
}

.nav__close,
.nav__toggle,
.nav__actions {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__actions {
    column-gap: .5rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: #ffffff;
    font-weight: var(--font-semi-bold);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

/* 
.nav__close{
   
    display: none;
    position: absolute;
} */

/* .nav__toggle{
  
    display: block;
} */




@media screen and (max-width:1149px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;

        /* display: none; */

        background: linear-gradient(180deg, rgba(19, 0, 36, 1) 0%, rgba(56, 0, 80, 1) 21%, rgba(90, 0, 122, 1) 36%, rgba(96, 0, 130, 0.9) 48%, rgba(152, 0, 164, 0.7) 64%, rgba(174, 36, 214, 0.5) 77%, rgba(199, 19, 234, 0.5) 88%, rgba(135, 0, 152, 0.4) 100%);
        width: 60%;
        height: 100%;
        box-shadow: -2px 0 12px hslahsl(0, 0%, 0%);
        padding: 6rem 3rem 0;
        transition: right .6s;
    }
}

.show-menu {
    right: 0;
}

/* Homme Style */

.home__container {
    height: 100vh;
    padding-block: 9rem 2rem;
    display: grid;
    align-items: center;
    row-gap: 6rem;
}

.home__content {
    position: relative;
    display: grid;
}

.home__img {
    width: 300px;
    margin: 0 auto 2rem;
    filter: drop-shadow(-8px 8px 16px hsla(0, 100%, 1%, 0.605));
}

.home__article {
    text-align: center;
    position: relative;
}

.home__info{
    position: absolute;
    z-index: 1;
    bottom: 3%;
    left: 20%;
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 300px;
}

.home__product{
    font-size: var(--normal-font-size);
}

.btn-find-out-more{
    border: none;
    background-color: rgba(128, 0, 128, 0.924);
    color: #ffff;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: var(--font-semi-bold);
    cursor: pointer;

}

.home__description{
    font-size: 8px;
    width: 230px;
    text-align: start;
}